
  .court {
    fill: #CFAF92;
    stroke: #2B2B2B;
    stroke-width: 4;
    stroke-miterlimit: 10;
  }
  
  .zone {
    fill: #826245;
    stroke: #ffffff;
    stroke-width: 4;
    stroke-miterlimit: 10;
  }
  
  .zone:hover {
    fill: #CE1141;
    cursor: pointer;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }